{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "kvs", "1",
        [
         kernel,
         stdlib,
	 sasl,
	 elixir,
	 kvs
        ]},
       {rel, "start_clean", "1",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "kvs"},
       {profile, development},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_app_filters, ["\.gitignore"]},

       {app, kvs, [{lib_dir, "../"}]},

       {app, appmon, [{incl_cond, include}]},
       {app, elixir, [{lib_dir,"/usr/local/erlang/elixir-0.5.0"}]},
       {app, hipe, [{incl_cond, include}]},
       {app, reltool, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, tools, [{incl_cond, include}]},
       {app, tv, [{incl_cond, include}]}
      ]}.

{target_dir, "kvs"}.

%{overlay, [
%           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
%           {copy, "../bin/elixir", "bin/elixir"},
%           {copy, "../bin/iex.bat", "bin/iex.bat"}
%          ]}.
